<div id="<%= dom_id album %>">
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Released on:</strong>
    <%= album.released_on %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= album.artist_id %>
  </p>

</div>
